@font-face {
    font-family: 'Danger Neue';
    src: url('DangerNeue-Regular.eot');
    src: local('Danger Neue'), local('DangerNeue-Regular'),
        url('DangerNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('DangerNeue-Regular.woff2') format('woff2'),
        url('DangerNeue-Regular.woff') format('woff'),
        url('DangerNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danger Neue Free';
    src: url('DangerNeueFree-Regular.eot');
    src: local('Danger Neue Free'), local('DangerNeueFree-Regular'),
        url('DangerNeueFree-Regular.eot?#iefix') format('embedded-opentype'),
        url('DangerNeueFree-Regular.woff2') format('woff2'),
        url('DangerNeueFree-Regular.woff') format('woff'),
        url('DangerNeueFree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danger Neue Free';
    src: url('DangerNeueFree-Italic.eot');
    src: local('Danger Neue Free Italic'), local('DangerNeueFree-Italic'),
        url('DangerNeueFree-Italic.eot?#iefix') format('embedded-opentype'),
        url('DangerNeueFree-Italic.woff2') format('woff2'),
        url('DangerNeueFree-Italic.woff') format('woff'),
        url('DangerNeueFree-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Danger Neue';
    src: url('DangerNeue-Italic.eot');
    src: local('Danger Neue Italic'), local('DangerNeue-Italic'),
        url('DangerNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('DangerNeue-Italic.woff2') format('woff2'),
        url('DangerNeue-Italic.woff') format('woff'),
        url('DangerNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Danger Neue Rough';
    src: url('DangerNeueRough-Italic.eot');
    src: local('Danger Neue Rough Italic'), local('DangerNeueRough-Italic'),
        url('DangerNeueRough-Italic.eot?#iefix') format('embedded-opentype'),
        url('DangerNeueRough-Italic.woff2') format('woff2'),
        url('DangerNeueRough-Italic.woff') format('woff'),
        url('DangerNeueRough-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Danger Neue Rough';
    src: url('DangerNeueRough-Regular.eot');
    src: local('Danger Neue Rough'), local('DangerNeueRough-Regular'),
        url('DangerNeueRough-Regular.eot?#iefix') format('embedded-opentype'),
        url('DangerNeueRough-Regular.woff2') format('woff2'),
        url('DangerNeueRough-Regular.woff') format('woff'),
        url('DangerNeueRough-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

